@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black text-base font-proxima;
  }

  h1,
  h2 {
    @apply font-ivy;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  sup {
    font-size: 65%;
  }
}

@layer components {
  .burger-bar {
    @apply block w-10 h-[1px] my-[0.4375rem] transition-all ease-in-out duration-300 bg-black;
  }
} 

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #FFFFFF;
  --gradient-color-2: #B1E5FC;
  --gradient-color-3: #ADFFFA;
  --gradient-color-4: #4E98D6;
  --gradient-color-5: #8CE8FA;
}